*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    background-image: url(./images/bg1.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#logo{
    margin-top: 10px;
    margin-left: 10px;
}
#img_header2{
    /* display: none; */
    height: 500px;
    width: 600px;
}

#img_header, #img_header1{
    border-radius: 20px;
    height: 500px;
    width: 600px;
    animation: slider 15s forwards ease-out;
}

@keyframes slider {
    0%{
        transform: translateX(0%);
    }
    20%{
        transform: translateX(-30%);
    }
    /* %{
        transform: translateX(-80%);
    } */
    100%{
        transform: translateX(-40%);
    }
}

#menu {
    display: none;
}

nav{
    display: flex;
    background-color: rgba(255, 255, 255, 0.521);
    /* background-color: rgb(39, 39, 39); */
}

#navi{
    padding-left: 30%;
    width: 100%;
    background-color:rgba(255, 255, 255, 0.817);
}

#navi,a{
    font-weight: bold;
    color: rgb(223, 28, 28);
    text-decoration: none;
    display: flex;
    list-style: none;
    margin-left: 10px;
    margin-top: 20px;  
}

a:hover{
    color: rgb(56, 56, 56);
}

#na:hover {
    transition: all .5s;
    background-color: rgb(56, 56, 56);
    color: white;
    border-radius: 4px;
    padding-top: 5px;
}

h3{
    color: rgb(223, 28, 28); 
}

footer {
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.922);
}

footer, p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

footer,li,a{
    list-style: none;
}

footer, div{
    margin-top: 7px;
    justify-content: space-around;
    padding-bottom: 13px;
}

#p{
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
}

#foot{
    display: flex;
   
}

.bann {
    text-align: center;
}

.banner{
    text-align: center;
    align-content: space-around;
    height: 13vh;
    animation: big 2s ease;
    
}

@keyframes big {
    0%{
        height: 100vh;
        font-size: xx-large;
        align-content: space-around;
    }
    50%{
        height: 100vh;
        font-size: xx-large;
        align-content: space-around;
    }
    
    100%{
        height: 13vh;
        align-content: space-around;
    }
    
}

input{
    animation: open 2s;
    background-color: rgba(56, 55, 55, 0.308);
    border-style: solid;
    padding: 10px;
    border-radius: 5px;
    border-color:black;
    border-top-style: none;
    border-right-style: none;
}
#intro {
    animation: open 4s;
    padding-left: 40px;
    padding-right: 40px;
}

@keyframes open{
    0%{
        transform: scale(30%);
    }
    100%{
        transform: 0%;
    }
}

input:hover {
    background-color: rgba(233, 233, 233, 0.308);
}


fieldset{
    animation: open 2s;
    background-color: rgba(224, 219, 219, 0.922);
    margin-left: 20%;
    border-style: none;
    border-radius: 20px;
    margin-right: 20%;
    text-align: center;
    padding: 40px;
}


#header{
    display: flex;
    background-color: rgba(255, 255, 255, 0.922);
}

#header div{
    font-size: larger;
    align-content: center;
}

.hdslide{
    border-radius: 20px;
    overflow: scroll;
    width: 50%;
    display: flex;   
}
#sb{
    padding: .5em;
    border-radius: 50px;
    border:solid rgb(255, 255, 255);
    background-color: rgb(233, 232, 232);
}
#sb:hover{
    background-color: rgb(255, 255, 255);
}
.nav-container {
    display: none;
}


/*all the blocks below for mobile display */
@media (max-width: 480px){
 body{
     font-size: .8em;
    }
#logo {
    mix-blend-mode: multiply;
    height: 4em;
}
#navi {
    display: none;
}
.nav-container {
    display: block;
    margin-left: auto;
    margin-right: 1em;
  }

  .nav-icon {
    font-size:1em;
    cursor: pointer;
    
  }

  .nav-links {
    display: none;
    position: absolute;
    top: 4em;
    right: 0;
    background-color: #fff;
    border: 1px solid rgb(192, 181, 181);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1em;
    list-style: none;
    z-index: 2;
  }

  .nav-links.active {
    display: block;
  }

  .nav-links li {
    margin: 5px 0;
    padding-bottom: 1em;
    padding-right: 3em;
    border-bottom: solid rgba(128, 128, 128, 0.589);
  }

  .nav-links li::after {
      margin-right: 0;
      border-bottom: solid rgb(194, 24, 24);;
  }

  .nav-links a {
    text-decoration: none;
    color: #333;
  }
#header {
    flex-direction: column-reverse;
    
    }
    
@keyframes big {
    0%{
        height: 100vh;
        font-size: large;
        align-content: space-around;
    }
    50%{
        height: 100vh;
        font-size: large;
        align-content: space-around;
    }
    
    100%{
        height: 13vh;
        align-content: space-around;
    }
    
}
#menu {
    padding: 5%;
    font-size: 3em;
    margin-left: auto;
    /* border: solid red; */
    display: block;
}
#menu:hover {
    color: rgb(194, 24, 24);
    
} 
.banner{
    align-content: space-around;
}
    #img_header{
        transform: translateX(-40%);
        border-radius: 20px;
        width: auto;
        height: 400px;
        gap: 10px;
        align-content: stretch;
        animation: slider 6s both;
    }
    #img_header2{
        display: none;
    }
    #img_header1{
        height: 400px;
        /* transform: translateX(50%); */
    }
    .hdslide{
        border-radius: 20px;
        width: 100%;
    }
    .hdslide img{
        animation: open 20s;
    }
    #foot{
        flex-direction: column; 
        /* padding-bottom: 1em; */
        /* margin-bottom: 0; */
    }
    .blink {
        display: flex;
        justify-content: center;
    }
    .fieldset {
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
}
